
body{
    background: linear-gradient(250deg, purple, blue);
    display: flex;
    justify-content: center;
}

.container{
    text-align: center;
    background: white;
    padding: 2em;
    border-radius: 15px;
    box-shadow: 0 10px 30px gray;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
 */
}
h2{
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.lampu-traffic{
    padding: 20px;
    border-radius: 15px;
    width: 120px;
    margin: 0 auto 2em;
    background-color: black;
    box-shadow:  0 5px 15px black;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; */
    
}

.lampu{
    width: 80px;
    height: 80px;
    margin: 15px auto;
    border-radius: 50%;
    opacity: 0.3;
    transition: opacity 0.3s ease,
    box-shadow 0.3s ease;

}
.lampu.merah{
    background-color: red;
}
.lampu.kuning{
    background-color: yellow;
}
.lampu.hijau{
    background-color: lime;
}

.lampu.nyala{
    opacity: 1;
    box-shadow: 0 0 30px currentColor;
    animation:  berkedip 0.5s ease-in-out;
}

@keyframes berkedip {
    0% , 100% {transform: scale(1);}
    50% { transform: scale(1.1);}
}
.control, .control-manual{
margin: 1em 0;
}

.tombol{
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
}

.manual{
    background: blue;
}

